@model WeeklySalesData

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Weekly Sales";
}
<div class="container-fluid mt-4">
    <h2>Weekly Sales Summary</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Animal</th>
                @foreach (var category in Model.Categories)
                {
                    <th>@category</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var series in Model.Series)
            {
                <tr>
                    <td>@series.Name</td>
                    @foreach (var data in series.Data)
                    {
                        <td>@data.ToString("N2")</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
